# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Unit test / coverage reports
.cache
.coverage

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project settings
.idea

# PyTest
.pytest_cache

# Coverage
.codecov.yml
.coveralls.yml
coverage.xml

# MacOS
.DS_Store

# Miscellaneous files
notes.txt
